@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet</h1>
    <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. 
    Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a 
    Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure 
    and earned your loot, so spend it with us!.</p>
</div>

<div class="menucontent">
    <div class="menu">
        <form id="menucol">
            <div id="search">
                <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                <input type="submit" value="Search">
            </div>
            <div id="reset">
                <input type="button" value="Reset Filters" />
            </div>
            <h4>Menu Type</h4>
            @foreach (String type in MenuDatabase.MenuTypes) {
                <label>
                    <input type="checkbox" name="MenuTypes" value="@type" />
                    @type
                </label>
            }
            
            
            <h4>Price</h4>
            <div>
                Between
                <input name="PriceMin" type="number" min="0" max="10" step="0.1" placeholder="min" />
                and
                <input name="PriceMax" type="number" min="0" max="10" step="0.1" placeholder="max" />
            </div>
            <h4>Calories</h4>
            <div>
                Between
                <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" />
                and
                <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" />
            </div>

        </form>
        <div class="menucol">

            <h2 class="menuheader">Entrees</h2>

            @foreach (MenuItem item in @Model.Menu) {
                @if (item.Type.Equals("Entree")) {
                    <div class="menuitem">@item.Name</div>
                    <div class="menuiteminfo">Price: $@item.PriceS</div>
                    <div class="menuiteminfo">Cals: @item.CaloriesS</div>
                }

            }

        </div>
        <div class="menucol">

            <h2 class="menuheader">Sides</h2>
            @foreach (MenuItem item in @Model.Menu) {
                @if (item.Type.Equals("Side")) {
                    <div class="menuitem">@item.Name</div>
                    @if (item.PriceSDisplay == true && item.CaloriesSDisplay == true) {
                        <div class="menuiteminfo">Small: $@item.PriceS, @item.CaloriesS cals</div>
                    }
                    @if (item.PriceMDisplay == true && item.CaloriesMDisplay == true) {
                        <div class="menuiteminfo">Medium: $@item.PriceM, @item.CaloriesM cals </div>
                    }
                    @if (item.PriceLDisplay == true && item.CaloriesLDisplay == true) {
                        <div class="menuiteminfo">Large: $@item.PriceL, @item.CaloriesL cals </div>
                    }
                }

            }



        </div>
        <div class="menucol">

            <h2 class="menuheader">Drinks</h2>
            @foreach (MenuItem item in @Model.Menu) {
                @if (item.Type.Equals("Drink")) {
                    <div class="menuitem">@item.Name</div>
                    @if (item.PriceSDisplay == true && item.CaloriesSDisplay == true) {
                        <div class="menuiteminfo">Small: $@item.PriceS, @item.CaloriesS cals</div>
                    }
                    @if (item.PriceMDisplay == true && item.CaloriesMDisplay == true) {
                        <div class="menuiteminfo">Medium: $@item.PriceM, @item.CaloriesM cals </div>
                    }
                    @if (item.PriceLDisplay == true && item.CaloriesLDisplay == true) {
                        <div class="menuiteminfo">Large: $@item.PriceL, @item.CaloriesL cals </div>
                    }
                }

            }

        </div>

    </div>
    <div class="menuinfo">
        <div> </div>
        <div>
            Sailor Soda flavors are: Blackberry, Cherry, Grapefruit, Lemon, Peach, and Watermelon
        </div>
        <div>
            Note: Ordering a combo (an entree, side, and drink of any size) will give a 1$ discount
        </div>

    </div>
</div>
